
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Arial"}

/* svg {
	width: 100%;
	height: 100%;
} */

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#drawing_area_pie_chart_month {
	width: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* width: 960px;
  height: 500px; */
  position: relative;
  float:left;
}

#drawing_area_pie_chart_day {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* width: 960px;
	height: 500px; */
	position: relative;
		width: 50%;

	float:right;
  }

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;
	font-family:sans-serif;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.rectangle {
	fill: steelblue;
}
.rectangle:hover {
	fill: orange;
}

.selectedrect {
	fill: rebeccapurple
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#month_pie_chart {
	float:left;
	/* margin-left: 27%; */
			  text-align: center;

	width:50%;
}

#day_pie_chart {
	width:50%;
	float:right;
	/* margin-right: 15%; */
			  text-align: center

	}
	#accident_severity_heading_pie_chart {
width:50%;
	float:left;
	/* margin-right: 15%; */
			  text-align: center;

	}
#road_type_heading_pie_chart {
	width:50%;
	float:left;
	/* margin-right: 15%; */
			  text-align: center;
}

#word_cloud_chart_heading {
	width: 100%;
	text-align:center;
	height: 20px;
}

.heading {
		width:50%;
	float:left;
	/* margin-right: 15%; */
			  text-align: center;
}

	path { 
		stroke: rgb(24, 117, 153);
		stroke-width: 2;
		fill: none;
	  }
	   
	  .axis path,
	  .axis line {
		  fill: none;
		  stroke: grey;
		  stroke-width: 1;
		  shape-rendering: crispEdges;
	  }

	  #drawing_area_line_chart{
		/* overflow-x: scroll; */
		width: 100%;
		/* width: 5000px;
		height: 1000px; */
	  }

	  #title {
		  text-align: center
	  }

	  #barchart {
		  text-align: left
	  }
        

#drawing_area_bar_chart {
	height: 40%;
}

#accident_severity_div {
		position: relative;

	float: left; width: 50%;
		height: 40%;

}
#road_type_div {
	float: right; width: 50%;
		height: 40%;

}

#road_condition_div {
	float: left; width: 50%;
		height: 40%;
				position: relative;


}
#weather_conditions_div {
float: right; width: 50%;
		height: 40%;
		/* position:relative */
}




#multi_varible_pie_chart {
	width: 100%;
	height: 50%;
}



#group1 {
	width: 100%;
	height: 50%;
}


#group2 {
	width: 100%;
	height: 50%;
}

#spacer1 {
	width: 100%;
	height: 20px;
}

#pie_chart-footers {
width:100%;
height: 20%;
text-align:center;
}

#forwordcloud {
	margin-top:10px;
	
}

#wordc {
	margin-top:10px;
	text-align:centre;
}

#day_pie_chart_heading {
	text-align:center;
}
